.CountryDetails > h1 {
    font-size: 60px;
    color: rgb(215, 82, 241);
    text-shadow: 2px 2px 2px black, -1px -2px 4px rgb(63, 23, 23), 1px 2px 5px rgb(94, 63, 63), 2px 3px 5px rgb(139, 115, 115)
}

.CountryDetails > h2 {
    font-size: 30px;
    color: rgb(221, 147, 236);
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px black, -1px -2px 4px rgb(63, 23, 23), 1px 2px 5px rgb(94, 63, 63), 2px 3px 5px rgb(139, 115, 115)
}

.CountryDetails > button {
    border-radius: 0 0 150px 150px;
    background-image: linear-gradient(40deg, rgb(66, 4, 102), rgb(128, 0, 107), rgb(232, 49, 238));
    box-shadow: 3px 3px 3px #ddd, -2px -3px 6px rgb(33, 34, 34);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    width:150px;
    height:50px;
    cursor: pointer;
    text-shadow: 2px 3px 5px #333, -3px 3px 5px white;
}

.CountryDetails button:hover {
    border-radius: 150px 150px 0 0;
    width:150px;
    height:50px;
    text-shadow: none;
    box-shadow: none;
    background-image: linear-gradient(200deg, rgb(232, 49, 238), rgb(128, 0, 107), rgb(66, 4, 102));
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}